# Database Configuration
POSTGRES_DB=tuevento
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret

# MinIO Configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=miniopassword

# JWT Configuration
JWT_SECRET=tueventojwtsecretkey

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Spring Profiles
SPRING_PROFILES_ACTIVE=dev
