# Copia este archivo como .env y rellena los valores reales
EXPO_PUBLIC_API_URL=http://TU_IP:PUERTO/api/v1
EXPO_PUBLIC_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com
EXPO_PUBLIC_FACEBOOK_APP_ID=YOUR_FACEBOOK_APP_ID
